<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dungbum</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <h1>Dungbum with view engine</h1>
    <h2>Message: <%= message %>
    </h2>
    <h1>1GVSRUn6j6U5siGU</h1>
</body>

</html>